<div>
  <div>
    <h1 class="text-center">
      All my jobs
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new job
    </h2>

    <form action="/insert_job" method="post">
      <div class="mb-3">
        <label for="title_box">
          Title
        </label>
        <input type="text" id="title_box" name="query_title">
      </div>

      <div class="mb-3">
        <label for="employer_id_box">
          Employer
        </label>

        <input type="text" id="employer_id_box" name="query_employer_id">
      </div>

      <div class="mb-3">
      
        <label for="start_date_box">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date">
      </div>

      <div class="mb-3">
        <label for="end_date_box">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date">
      </div>

      <div class="mb-3">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3"></textarea>
      </div>

      <div class="mb-3">
        <label for="skills_box">
          Skills
        </label>

        <textarea id="skills_box" name="query_skills" rows="3"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">
        Create job
      </button>
    </form>
  </div>
</div>

<hr>
<div class="container">
<%= rails_db_data_table 'jobs', footer: false, 
                                columns:['id', 'title', 'description', 'skills'],
                                header: true,
                                limit: 20,
                                order_by: :title,
                                order: :asc
%>
</div>
