<div class="row">
  <div class="offset-md-3 col-md-6">
    <h1>
      My Jobs
    </h1>
  </div>
</div>

<hr>

<hr>
<div class="container">
  <%= rails_db_data_table 'jobs', footer: false, 
                                columns:[ 'title', 'description', 'skills'],
                                header: true,
                                limit: 20,
                                order_by: :id,
                                order: :asc
%>
</div>

<div class="row">
  <div class="offset-md-3 col-md-6">
    <h2>
      Add a new job
    </h2>

    <form action="/insert_job" method="post">
      <div class="col-auto">
        <label for="title_box" class="form-label">
          Title
        </label>
        <input type="text" id="title_box" name="query_title" class="form-control">
      </div>

      <div class="col-auto">
        <label for="employer_id_box" class="form-label">
          Employer
        </label>

        <input type="text" id="employer_id_box" name="query_employer_id" class="form-control">
      </div>

      <div class="col-auto">

        <label for="start_date_box" class="form-label">
          Start date
        </label>

        <input type="date" id="start_date_box" name="query_start_date" class="form-control">
      </div>

      <div class="col-auto">
        <label for="end_date_box" class="form-label">
          End date
        </label>

        <input type="date" id="end_date_box" name="query_end_date" class="form-control">
      </div>

      <div class="col-auto">
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description" rows="3" class="form-control"></textarea>
      </div>

      <div class="col-auto">
        <label for="skills_box" class="form-label">
          Skills
        </label>

        <textarea id="skills_box" name="query_skills" rows="3" class="form-control"></textarea>
      </div>

      <button type="submit" class="btn btn-primary">
        Create job
      </button>
    </form>
  </div>
</div>
