<div class="row">
  <div class="offset-md-3 col-md-6">

      <div>
        <h1>
          My Resumes
        </h1>
      </div>


    <hr>

    <div class="list-group">
      <% Resume.all.order(:name).each do |resume| %>
        <a href="/resumes/<%= resume.id %>" class="list-group-item list-group-item-action">
          <div class="fw-bold">
            <%= resume.name %>
          </div>

          <div>
            <%= resume.objective %>
          </div>
        </a>
      <% end %>
    </div>

    <hr> 

      <div>
        <h2>
          Add a new resume
        </h2>

        <form action="/insert_resume" method="post">
          <div class="mb-3">
            <label for="name_box" class="form-label">
              Name
            </label>

            <input type="text" id="name_box" name="query_name" class="form-control">
          </div>

          <div class="mb-3">
            <label for="user_id_box" class="form-label">
              User
            </label>

            <%= select_tag(:query_user_id, options_from_collection_for_select(User.all, :id, :full_name), class: "form-control") %>
          </div>

          <div class="mb-3">

            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="flexCheckChecked" name="query_display" checked>
              <label class="form-check-label" for="flexCheckChecked">
                Display
              </label>
            </div>
          </div>

          <div class="mb-3">
            <label for="objective_box" class="form-label">
              Objective
            </label>

            <textarea id="objective_box" name="query_objective" rows="3" class="form-control"></textarea>
          </div>

          <div class="mb-3">
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Create resume
              </button>
            </div>
          </div>
        </form>
      </div>
    

    <hr>




  </div>
</div>
