

<div>
  <div>
    <h1>
      List of all resumes
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new resume
    </h2>

    <form action="/insert_resume" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <input type="checkbox" id="display_box" name="query_display" value="1">

        <label for="display_box">Display</label>
      </div>

      <div>
        <label for="objective_box">
          Objective
        </label>

        <textarea id="objective_box" name="query_objective" rows="3"></textarea>
      </div>

      <button class="btn btn-primary">
        Create resume
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <div class="container">
    <%= rails_db_data_table 'resumes', footer: false, 
          columns:['id', 'name', 'user_id', 'objective', 'display'],
          header: true,
          limit: 20,
          order_by: :id,
          order: :asc
    %>
</div>
  </div>
</div>

<hr>
