<h1>This web app helps you create multiple versions of your resume. You can mix and match jobs via the Profile section of this site.</h1> 

<h1>Future versions will offer the ability to download your resume, link a QR code, and use AI tools to help re-write your resume</h1>
